<!DOCTYPE HTML>
<html lang="en">

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../libs/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/words.css">
	<script type="text/javascript" src="../../libs/js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/utils/Helper.js"></script>
	<script type="text/javascript" src="words_list.js"></script>
	<script type="text/javascript" src="words.js"></script>
</head>

<body>
	<div class="main-container">
		<div class="form-container" style="height: 100vh;">
			<form>
				<div class="form-group">
					<label for="txtPara">Type OR Paste Your Text Below</label>
					<div class="txtParaContainer">
						<textarea class="form-control" name="txtPara" maxlength=2000 id="txtPara"
							placeholder="Enter Text"></textarea>
					</div>
					<span name="charLeft" id="charLeft" width="100%">Characters Left:</span>
				</div>
				<div class="form-group">
					<div class="action-holder d-flex">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="chkAdjectives">
							<label class="form-check-label" for="chkAdjectives">Adjectives</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="chkAdverbs">
							<label class="form-check-label" for="chkAdverbs">Adverbs</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="chkCommon">
							<label class="form-check-label" for="chkCommon">Common</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="chkPrepositions">
							<label class="form-check-label" for="chkPrepositions">Prepositions</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="chkPronouns">
							<label class="form-check-label" for="chkPronouns">Pronouns</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="chkSlug">
							<label class="form-check-label" for="chkSlug">Slug</label>
						</div>
					</div>
					<div class="result-container flex-45">
						<div class="cont adjectives_cont hidden"></div>
						<div class="cont adverbs_cont hidden"></div>
						<div class="cont common_cont hidden"></div>
						<div class="cont prepositions_cont hidden"></div>
						<div class="cont pronouns_cont hidden"></div>
						<div class="cont slug_cont hidden"></div>
					</div>
				</div>

			</form>
		</div>
		<div class="error-container hidden">
			<div class="error-msg"></div>
		</div>

	</div>
</body>

</html>